$orange: #D87D4A;
$red: #CD2C2C;


$white: #F1F1F1;
$white-1: #F2F2F2;
$white-2: #FAFAFA;

$grey-2: #CFCFCF;
$grey-3: #CFCFCF;

$special-black: #191919;
$hovered-black: #4C4C4C;

$hovered-orange: #FBAF85;
